<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        
        <div class="container__header">Twitter Sentiment Analyzer</div>
        
        <div class="container__navbar">
            <div class="container__navbar__link">Home</div>
            <div class="container__navbar__link">About</div>
            <div class="container__navbar__link">FAQ</div>
        </div>

        <div class="searchbar">
            <input type="text" class="input" placeholder="Enter Tweet Link">
            <div class="searchbtn">GO
                <i class="fas fa-search"></i>
            </div>
        </div>

        <div class="container__content" id="welcome-section">
            <div class="container__content__section" id="welcome-section"></div>
            <div class="container__content__section" id="trending-section"></div>
            <div class="container__content__section" id="faq-section"></div>
            <div class="container__content__section" id="about-section"></div>
        </div>

        <div class="welcome">Welcome
            <p class="welcome__paragraph">The goal of this program is to sort through a vast number of comments from a tweet and examine what the opinions, appraisals, emotions, or attitudes towards a topic, person or entity is. </p>
            <p class="welcome__instruc">Instructions</p>
            <p class="welcome__instruc__paragraph">1.   Find the twitter post in question and copy its link in the URL (on mobile, click ‘share’ and copy the link)<br>
                2.  Paste the link into this website and click ‘GO’ to analyze the sentiment of the post</p>
        </div>
        <div class="trending">
            Trending Topics
            <div class="trending__box1"></div>
            <div class="trending__box2"></div>
            <div class="trending__box3"></div>
        </div>

        <div class="faq">FAQ
            <div class="faq__question" id="faq__q1">Question 1
                <span class="icon__expand"><ion-icon name="chevron-down-outline"></ion-icon></span>
            </div>
            <div class="faq__question">Question 2
                <span class="icon__expand"><ion-icon name="chevron-down-outline"></ion-icon></span>
            </div>
            <div class="faq__question">Question 3
                <span class="icon__expand"><ion-icon name="chevron-down-outline"></ion-icon></span>
            </div>
        </div>
        

        <div class="about">About This Project</div>
        <div class="back">Back To Top</div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>