<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <h1 style="color:white;text-align:left;"> Twitter Sentiment Analysis</h1>
                </li>
            </ul>
        </div>
    </div>
</body>
<style>
*   {
    margin: 0;
    padding: 0;
    box-sizing: boxer-box;
    font-family: 'Open Sans', sans-serif;
}
:root
{
    --black1: #000000;
    --white: #fff;
    --blue: #1D9BF0;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;
}
.navigation
{
    position: fixed;
    width: 10000px;
    height: 100%;
    background-color: var(--black1);
}
</style>
</html>