@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap');

* {
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: fit-content;
    min-height: 225vh;
    background: rgb(0, 0, 0);
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__header {
    font-size: 36px;
    font-weight: 700;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: blue;
    /* border: solid white 2px; */
    /* background: rgb(109, 195, 23); */
}

.container__navbar {
    font-size: 13px;
    width: 100%;
    height: 70px;
    font-weight: bolder;
    /* padding: 10px 30px; */
    /* background: rgb(192, 195, 23); */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container__navbar__link {
    cursor: pointer;
    width: fit-content;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    /* background: rgb(192, 195, 23); */
}

.container__content {

    background: rgb(0, 0, 0);
}

.searchbar {
    width: 65%;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.searchbar .input {
    width: 50%;
    padding: 12px;
    border-radius: 50px;
    background-color: #202327;
    border: 0;
    justify-content: center;
    display: flex;
}

.searchbtn {
    text-align: center;
    position: absolute;
    transform: translate(270%, 0%);
    width: 5%;
    padding: 10px;
    border-radius: 50px;
    background-color: #1D9BF0;
    cursor: pointer;
}

.welcome {
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    border: solid #C4C4C4 1px;
    height: fit-content;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
}

.welcome__paragraph {
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px;
    width: 80%;
    text-align: center;
    position: relative;
    bottom: 20px;
}

.welcome__instruc {
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    position: relative;
    bottom: 20px;
}

.welcome__instruc__paragraph {
    font-size: 14px;
    font-weight: lighter;
    line-height: 30px;
    width: 75%;
    position: relative;
    bottom: 30px;
}

.trending {
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    border: solid #C4C4C4 1px;
    height: fit-content;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -61px;
}

.trending__box1 {
    width: 240px;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 45px;
    border-radius: 25px;
    background-color: #202327;
    display: flex;
    flex-direction: row;
}

.trending__box2 {
    width: 240px;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 45px;
    border-radius: 25px;
    background-color: #202327;
    display: flex;
    position: absolute;
    transform: translate(120%, 25%);
    flex-direction: row;
}

.trending__box3 {
    width: 240px;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 45px;
    border-radius: 25px;
    background-color: #202327;
    display: flex;
    position: absolute;
    transform: translate(-120%, 25%);
    flex-direction: row;
}

.faq {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 60%;
    line-height: 50px;
    height: 50px;
    border: solid #C4C4C4 1px;
    margin-top: 60px;
}

.faq__q1 {
    text-align: left;
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
    width: 60%;
    line-height: 50px;
    height: 50px;
    border: solid #C4C4C4 1px;
    cursor: pointer;
}

.icon__expand {
    padding-left: 710px;
    margin-top: 30px;
}

.faq__q2 {
    text-align: left;
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
    width: 60%;
    line-height: 50px;
    height: 50px;
    border: solid #C4C4C4 1px;
    cursor: pointer;
}

.faq__q3 {
    text-align: left;
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
    width: 60%;
    line-height: 50px;
    height: 50px;
    border: solid #C4C4C4 1px;
    cursor: pointer;
}

.about {
    font-size: 24px;
    font-weight: lighter;
    border: solid #C4C4C4 1px;
    height: 320px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.back {
    font-size: 13px;
    font-weight: bolder;
    width: 15%;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    background-color: #1D9BF0;
    margin: 30px;
    cursor: pointer;
}